In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
import os
os.getcwd()

os.chdir('C:\\Users\\majaa\\Desktop\\DAEN-690') # Change the directory location to where your file is located on your computer.
os.getcwd()

'C:\\Users\\majaa\\Desktop\\DAEN-690'

In [3]:
df=pd.read_csv("purchase-order-data-2012-2015-.csv")

In [4]:
df.head(5)

,Creation Date,Purchase Date,Fiscal Year,LPA Number,Purchase Order Number,Requisition Number,Acquisition Type,Sub-Acquisition Type,Acquisition Method,Sub-Acquisition Method,...,Normalized UNSPSC,Commodity Title,Class,Class Title,Family,Family Title,Segment,Segment Title,Location,REMOVE AMERISOURCE
0,8/27/2013,NaN,2013-2014,7-12-70-26,REQ0011118,REQ0011118,IT Goods,NaN,WSCA/Coop,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/29/2014,NaN,2013-2014,NaN,REQ0011932,REQ0011932,NON-IT Goods,NaN,Informal Competitive,NaN,...,76121504.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11/1/2013,NaN,2013-2014,NaN,REQ0011476,REQ0011476,IT Services,NaN,Informal Competitive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"95841\n(38.662263, -121.346136)",NaN
3,6/13/2014,6/5/2014,2013-2014,NaN,4500236642,NaN,NON-IT Goods,NaN,Informal Competitive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"91436\n(34.151642, -118.49051)",NaN
4,3/12/2014,3/12/2014,2013-2014,1-10-75-60A,4500221028,NaN,NON-IT Goods,NaN,Statewide Contract,NaN,...,44103127.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"95814\n(38.580427, -121.494396)",NaN

In [5]:
df.isnull().sum(axis = 0)

Creation Date                   0
Purchase Date               17421
Fiscal Year                     0
LPA Number                 253607
Purchase Order Number           0
Requisition Number         330138
Acquisition Type                0
Sub-Acquisition Type       276170
Acquisition Method              0
Sub-Acquisition Method     313621
Department Name                 0
Supplier Code                  36
Supplier Name                  36
Supplier Qualifications    202759
Supplier Zip Code           70080
CalCard                         0
Item Name                      31
Item Description              199
Quantity                       30
Unit Price                     30
Total Price                    30
Classification Codes         1017
Normalized UNSPSC            1017
Commodity Title              3293
Class                        3293
Class Title                  3293
Family                       3293
Family Title                 3293
Segment                      3293
Segment Title                3293
Location                    70080
REMOVE AMERISOURCE         344504
dtype: int64

In [6]:
#df.dtypes

In [7]:
#df.drop(['Class', 'Class Title','Segment','Segment Title', ' REMOVE AMERISOURCE','Family','Family Title'], axis=1)
df=df.drop(['REMOVE AMERISOURCE','Supplier Qualifications','LPA Number','Requisition Number','Sub-Acquisition Type','Sub-Acquisition Method'], axis=1)

In [8]:
#Define in which columns to look for missing values:

df=df.dropna(subset=['Class', 'Class Title','Segment','Segment Title','Family','Family Title','Item Description','Supplier Name','Purchase Date','Supplier Zip Code'])

In [9]:
df.isnull().sum(axis = 0)

Creation Date            0
Purchase Date            0
Fiscal Year              0
Purchase Order Number    0
Acquisition Type         0
Acquisition Method       0
Department Name          0
Supplier Code            0
Supplier Name            0
Supplier Zip Code        0
CalCard                  0
Item Name                0
Item Description         0
Quantity                 0
Unit Price               0
Total Price              0
Classification Codes     0
Normalized UNSPSC        0
Commodity Title          0
Class                    0
Class Title              0
Family                   0
Family Title             0
Segment                  0
Segment Title            0
Location                 0
dtype: int64

In [10]:
df.shape

(257600, 26)